@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Poppins', sans-serif;
}

.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    position: absolute;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/* scroll bar style  */
::-webkit-scrollbar {
    width: 15px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #004282; 
    border-radius: 10px;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #004282; 
    border-radius: 10px;
    border: 1px solid white;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #004282; 
  }
